*{
    margin: 2px;
    padding: 0;

    color: white;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
}

.section__header{
    /*maquetacion*/
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 6;

}

.section__izq{
    /*maquetacion*/
    grid-column-start: 1;
    grid-column-end:2;

    grid-row-start: 2;
    grid-row-end: 4;

    
}

.section__main{
    /*maquetacion*/
    grid-column-start: 2;
    grid-column-end:4;

    grid-row-start: 2;
    grid-row-end: 3;

    
}

.section__sidebar{
    /*maquetacion*/
    grid-column-start:4;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;

    
}

.section__der{
    /*maquetacion*/
    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 2;
    grid-row-end: 4;

    
}

.section__art1{
    /*maquetacion*/
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

    
}

.section__art2{
    /*maquetacion*/
    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 3;
    grid-row-end: 3;
}

.section__pie{
    /*maquetacion*/
    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 4;
    grid-row-end:5 ;
}

/*DISEÑO*/

.section__header{

    background-color: #52A7F9;
}

.section__izq, .section__der{
    background-color: white;
}

.section__main{
    background-color: #6FC041;
}

.section__sidebar{
    background-color: #B36AE2;
}

.section__art1, .section__art2{
    background-color: #F3901A;
}

.section__pie{
    background-color: #0365C0;
}